.App{
  display: flex;
  align-items:first baseline;
}
.container {
  max-width: 1200px;
  width: 100%;
}

/* Sol form kutusu */
.formSection {
  max-width: 600px;
  min-width: 0;
  border-radius: 18px;
}

/* Sağ summary kutusu için, Summary.module.css'deki summaryWrapper kullanılmalı */

